* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* For mobile phones: */
  [ class*="col-" ] { /* This is where you determine how many columns to use for your narrow version */
    width: 100%;
      float: left;
    padding: 15px;
  }
  
  @media only screen and (min-width: 768) { /* This is where your media query should go. Make it change to the wide screen version at 768 pixels */
    /* For desktop: */
    .row{float: left;}
    .row{padding: 15px;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 20.26} /* Finish the next seven column widths */
  .col-7 {width: 30.14;}
  .col-8 {width: 38.16;}
  .col-9 {width: 27.89;}
  .col-10 {width:19.93;}
  .col-11 {width:7.49;}
  .col-12 {width:6.78;}
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: #FCD12A;
    color: #ffffff;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #FCE205;
    color: #FFE5B4;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #FFFDD0;
  }